{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            {% include 'back_office/skill/_form.html.twig' with { form: form, title: "Créer une nouvelle compétence", action: "Créer" } %}
        </div>
    </div>
{% endblock %}
